<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="topbar">
        SAS
        <a class="logout-btn" onclick="logout()">Logout</a>
    </div>

    <div class="attendance-container">

        <table class="attendance-table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>date</th>
                    <th>time</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody id="attendance-body">
                <!-- JS fills here -->
            </tbody>
        </table>

        <div class="face-box">
            <button class="start-btn" onclick="startAttendance()">START</button>
        </div>

    </div>

    <script src="js/main.js"></script>
</body>
</html>
