<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="topbar">
        SAS
        <a class="logout-btn" onclick="logout()">Logout</a>
    </div>

    <div class="center-box">
        <button class="menu-btn" onclick="window.location.href='take_attendance.html'">
            take attendance
        </button>

        <button class="menu-btn" onclick="window.location.href='enroll.html'">
            enroll
        </button>
    </div>

</body>
</html>
